body {
    width: 900px;

	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-left: 1px;
	padding-right: 1px;
	border-left: 10px;
	border-color: black;
	
	box-shadow: 2px 2px 2px 2px grey;
	border-right: 5px;
	border-left: 5px;
	border-bottom: 5px;
	border-top: 5px;
	font-family: arial, sans-serif;

}




header {
background: pink;
width: : 100%;
overflow: auto;
}
h1 {
	background: pink;
	float: left;
	background: pink;
}
h2 { 
float: right; }


nav {
background:brown;
width: 100%;
overflow: auto;

}
ul
{margin: 0;
padding: 0;
list-style: none;
	}

li {
	float: left;

}

nav a {width: 60px;
	display: block;
	text-decoration: none;
	text-align: center;
	background: brown;
	font-size: 17px;
	color: white;
	padding: 5px  5px;



}

nav a:hover {
 	background: blue;
 	color: yellow;
 }

 footer {
background:black;
width: : 100%;
color: white;
text-align: center;
}

#container {
	width: 900px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
#map{
	background-color: lightgrey;
}
#mid {
	margin-top: 0px;
	width: 100%;
	background: lightgrey;
	text-align: center; 

}


#box{
	width: 800px;
	height: 350px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
border: 2px;
border-color: black;
background-color: white;


	display: flex;
flex-wrap: wrap;
justify-content: space-around;


}

#box1{
	width: 350px;
	height: 290px;
	border: 2px;
	border-color: black;
	padding: 5px;	
 box-shadow: 2px 2px 2px 2px  grey;

display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

#box2{
	width: 350px;
	height: 290px;
	border:2px; 
	border-color: black;
	padding: 5px;
 box-shadow: 2px 2px 2px 2px  grey;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}