body {
    width: 900px;

	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-left: 1px;
	padding-right: 1px;
	border-left: 10px;
	border-right: 10px;
	border-color: black;
	
	box-shadow: 1px 1px 1px 1px grey;
	
	font-family: arial, sans-serif;

}




#header {
width: 100%;
height: 140px;
background: #FFF0F5;
margin-bottom: 0%;
margin-top: 0%;
align-items: center;
display: flex;
justify-content: space-around;
}

h1 {
	
	
	float: left;
	align-content: center;
	
}
h2 { 
float: right; 



}




nav {
background:brown;
width: 100%;
overflow: auto;

}
ul
{margin: 0;
padding: 0;
list-style: none;
	}

li {
	float: left;

}

nav a {width: 60px;
	display: block;
	text-decoration: none;
	text-align: center;
	background: brown;
	font-size: 17px;
	color: white;
	padding: 5px  5px;



}

nav a:hover {
 	background: beige;
 	color: black;
 }

 footer {
background: black;
width: : 100%;
color: white;
text-align: center;

}

	

#bot{
	width: 100%;
	height: 100px;



}

h6{
	float: right;
	background: black;
	}

#container {
	width: 900px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
#map{
	background-color: lightgrey;
}
#mid {
	margin-top: 0px;
	width: 100%;
	background: lightgrey;
	text-align: center; 

}


#box{
	width: 800px;
	height: 350px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
border: 2px;
border-color: black;
background-color: white;


	display: flex;
flex-wrap: wrap;
justify-content: space-around;


}

#box1{
	width: 360px;
	height: 290px;
	border: 2px;
	border-color: black;
	padding: 5px;	
 box-shadow: 2px 2px 2px 2px  grey;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

#box2{
	width: 360px;
	height: 290px;
	border:2px; 
	border-color: black;
	padding: 5px;
 box-shadow: 2px 2px 2px 2px  grey;
  display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

@media screen and (min-width:1201px) {
body {
background-color: black;
}
}